* {
	margin: 0;
	padding: 0;
	font-family: 'Muli', sans-serif;
	font-style: light;
}

.header-container {
	width: 100%;
	height: 300px;
}

.title-container {
	width: 100%;
	height: 320px;
}

.intro {
	margin: 10%;
	margin-top: 80px;
}

.intro-color {
	color: #888;
}

.content-container {
	width:100%
}

.row-container {
	width: 100%;
	height: 300px;
}

.left-container {
	width: 50%;
	height: 300px;
	position: absolute;
}

.right-container {
	margin-left: 50%;
	width: 50%;
	height: 300px;
	display: inline-block;
}

.project-container {
	width: 49%;
	height: 300px;
	display: inline-block;
	/*background-color: white;
	border-style: solid;
	border-width: 1px;*/
}

/*.cover-container {
	width: 100%;
	height: 100%;
}*/

.cover-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	height: 200px;
}

#home-logo {
	width: 100%;
	height: auto;
}

#blog-logo {
	width: 38%;
	height: auto;
}

#resume-logo {
	float: right;
	width: 70%;
	height: auto;
}

#contact-logo {
	width: 60%;
	height: auto;
}

footer {
	margin-top: 20px;
	margin-bottom: 60px;
}

.footerText {
	text-align: center;
	color: #888;
}

.project-main-title {
	font-size: 2em;
	margin-top: 80px;
	text-align: center;
	color: #aaa;
}

.project-description {
	text-indent: 40px;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.project-description-img {
	width: 50%;
	height: auto;
	margin-left: 20%;
	margin-right: 20%;
}
